/Pride-BMS-Code.mcp
/bin
/Pride-BMS-Code_Data
/Sources/feedback/New Folder (2)/FT176Ah_ert_rtw/html
/*.html
/*.mk
/*.bat
/*.rsp
/*.dmr
/*.txt
/*.tmw
/*.js
/*.css
/*.zip
/*.rar
/*.lib
/Sources/Temp2Resistor_lookup1D_ert_rtw/*.dmr
